<!doctype html>
<html>
  <head>
    <title>Namecodes</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/client.js"></script>
  </head>
  <body>
    <button id="big-button">BIG BUTTON</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/client.js"></script>
    </script>
  </body>
</html>